.box {
    display: flex;
    padding: 10px;
    
    
 }
 
 body {
     height: 100%;
     margin: 0;
     
 }
 html {
    /* height: 100%;
    margin: 0; */
    background: url('https://i.pinimg.com/originals/a7/7f/48/a77f486665f37182fa04cbbfd202a7ab.jpg') no-repeat center fixed;
    background-size: cover;
    background-color: rgba(129, 125, 47, 0.377);
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  
}



h3 {
    text-align: center;
    font-size: 26px;

}

li {
    font-size: 18px;
}